/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 767px) 
  /*and (-webkit-min-device-pixel-ratio: 2)*/ 
{
    .is-centered
    {
        width: 90%;
    }

    .element-spaced
    {
        padding: 0;
    }

    .middle-centered
    {
        padding: 5rem 0;
    }

    h1
    {
        font-size: x-large;
        font-weight: 700;
    }

    /*** HEADER ***/
    .nav-bar
    {
        width: fit-content;
        margin: 0 auto;
    }

    
    /*** SECTION 1***/
    .profil-pic
    {
        padding-top: 2rem;
    }

    .profil-pic img
    {
        height: 10rem;
    }

    /*** SECTION 3***/
    .personal-skills
    {
        flex-direction: column;
        width: 90%;
        margin-top: -6rem;
    }

    .personal-skills div
    {
        width: 100%;
        padding: 1rem;
    }

    .dev
    {
        padding-top: 2rem;
    }

    .border-grey::before, .border-grey::after
    {
        display: none;
    }

    .border-grey
    {
        border-top: 1px solid #E6ECF8;
        border-bottom: 1px solid #E6ECF8;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }



    /*** SECTION 4 ***/
    .top-row, .bottom-row
    {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .img-caption
    {
        margin-top: 1rem;
    }

    .img-contain img
    {
        height: 14rem;
    }


    /*** FOOTER  ***/

    .footer-content
    {
        flex-direction: column;
    }

    footer section
    {
        width: 100%;
    }

    footer section:first-child
    {
        padding-bottom: 1rem;
    }

    .social h1
    {
        padding: 1rem;
        border-top: 1px solid;
    }

    footer i
    {
        width: 12%;
    }

}